<div class="menu">
  <h3>Menu items below</h3>
    <!-- <%= Menu.all.each do |menu| %> -->
    <%= render partial: 'item', locals: {menu: menu} %>
  <!-- <% end %> -->
</div>
<%= link_to "New Menu Item", new_menu_path%>
